html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Display Font Definitions */
.wds-typography-displayH1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wds-typography-displayBody {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}