html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Display Font Definitions */
.wds-typography-displayH1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wds-typography-displayBody {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wds-typography-display-120 {
  font-weight: var(--pds-typography-display-120-bold-font-weight);
  font-size: var(--pds-typography-display-120-bold-font-size);
  line-height: var(--pds-typography-display-120-bold-line-height);
  letter-spacing: var(--pds-typography-display-120-bold-letter-spacing);
}

.wds-typography-display-100 {
  font-weight: var(--pds-typography-display-100-bold-font-weight);
  font-size: var(--pds-typography-display-100-bold-font-size);
  line-height: var(--pds-typography-display-100-bold-line-height);
  letter-spacing: var(--pds-typography-display-100-bold-letter-spacing);
}

.wds-typography-display-80 {
  font-weight: var(--pds-typography-display-80-bold-font-weight);
  font-size: var(--pds-typography-display-80-bold-font-size);
  line-height: var(--pds-typography-display-80-bold-line-height);
  letter-spacing: var(--pds-typography-display-80-bold-letter-spacing);
}

.wds-typography-display-72 {
  font-weight: var(--pds-typography-display-72-bold-font-weight);
  font-size: var(--pds-typography-display-72-bold-font-size);
  line-height: var(--pds-typography-display-72-bold-line-height);
  letter-spacing: var(--pds-typography-display-72-bold-letter-spacing);
}

.wds-typography-display-60 {
  font-weight: var(--pds-typography-display-60-bold-font-weight);
  font-size: var(--pds-typography-display-60-bold-font-size);
  line-height: var(--pds-typography-display-60-bold-line-height);
  letter-spacing: var(--pds-typography-display-60-bold-letter-spacing);
}

.wds-typography-display-48 {
  font-weight: var(--pds-typography-display-48-bold-font-weight);
  font-size: var(--pds-typography-display-48-bold-font-size);
  line-height: var(--pds-typography-display-48-bold-line-height);
  letter-spacing: var(--pds-typography-display-48-bold-letter-spacing);
}

.wds-typography-display-41 {
  font-weight: var(--pds-typography-display-41-bold-font-weight);
  font-size: var(--pds-typography-display-41-bold-font-size);
  line-height: var(--pds-typography-display-41-bold-line-height);
  letter-spacing: var(--pds-typography-display-41-bold-letter-spacing);
}

.wds-typography-header-bold-36 {
  font-weight: var(--pds-typography-header-36-bold-font-weight);
  font-size: var(--pds-typography-header-36-bold-font-size);
  line-height: var(--pds-typography-header-36-bold-line-height);
  letter-spacing: var(--pds-typography-header-36-bold-letter-spacing);
}

.wds-typography-header-light-36 {
  font-weight: var(--pds-typography-header-36-light-font-weight);
  font-size: var(--pds-typography-header-36-light-font-size);
  line-height: var(--pds-typography-header-36-light-line-height);
  letter-spacing: var(--pds-typography-header-36-light-letter-spacing);
}

.wds-typography-header-bold-29 {
  font-weight: var(--pds-typography-header-29-bold-font-weight);
  font-size: var(--pds-typography-header-29-bold-font-size);
  line-height: var(--pds-typography-header-29-bold-line-height);
  letter-spacing: var(--pds-typography-header-29-bold-letter-spacing);
}

.wds-typography-header-light-29 {
  font-weight: var(--pds-typography-header-29-light-font-weight);
  font-size: var(--pds-typography-header-29-light-font-size);
  line-height: var(--pds-typography-header-29-light-line-height);
  letter-spacing: var(--pds-typography-header-29-light-letter-spacing);
}

.wds-typography-header-bold-22 {
  font-weight: var(--pds-typography-header-22-bold-font-weight);
  font-size: var(--pds-typography-header-22-bold-font-size);
  line-height: var(--pds-typography-header-22-bold-line-height);
  letter-spacing: var(--pds-typography-header-22-bold-letter-spacing);
}

.wds-typography-header-regular-22 {
  font-weight: var(--pds-typography-header-22-regular-font-weight);
  font-size: var(--pds-typography-header-22-regular-font-size);
  line-height: var(--pds-typography-header-22-regular-line-height);
  letter-spacing: var(--pds-typography-header-22-regular-letter-spacing);
}

.wds-typography-header-semibold-18 {
  font-weight: var(--pds-typography-header-18-semibold-font-weight);
  font-size: var(--pds-typography-header-18-semibold-font-size);
  line-height: var(--pds-typography-header-18-semibold-line-height);
  letter-spacing: var(--pds-typography-header-18-semibold-letter-spacing);
}

.wds-typography-header-regular-18 {
  font-weight: var(--pds-typography-header-18-regular-font-weight);
  font-size: var(--pds-typography-header-18-regular-font-size);
  line-height: var(--pds-typography-header-18-regular-line-height);
  letter-spacing: var(--pds-typography-header-18-regular-letter-spacing);
}

.wds-typography-header-semibold-16 {
  font-weight: var(--pds-typography-header-16-semibold-font-weight);
  font-size: var(--pds-typography-header-16-semibold-font-size);
  line-height: var(--pds-typography-header-16-semibold-line-height);
  letter-spacing: var(--pds-typography-header-16-semibold-letter-spacing);
}

.wds-typography-header-regular-16 {
  font-weight: var(--pds-typography-header-16-regular-font-weight);
  font-size: var(--pds-typography-header-16-regular-font-size);
  line-height: var(--pds-typography-header-16-regular-line-height);
  letter-spacing: var(--pds-typography-header-16-regular-letter-spacing);
}

.wds-typography-header-semibold-14 {
  font-weight: var(--pds-typography-header-14-semibold-font-weight);
  font-size: var(--pds-typography-header-14-semibold-font-size);
  line-height: var(--pds-typography-header-14-semibold-line-height);
  letter-spacing: var(--pds-typography-header-14-semibold-letter-spacing);
}

.wds-typography-header-regular-14 {
  font-weight: var(--pds-typography-header-14-regular-font-weight);
  font-size: var(--pds-typography-header-14-regular-font-size);
  line-height: var(--pds-typography-header-14-regular-line-height);
  letter-spacing: var(--pds-typography-header-14-regular-letter-spacing);
}

.wds-typography-header-semibold-12 {
  font-weight: var(--pds-typography-header-12-semibold-font-weight);
  font-size: var(--pds-typography-header-12-semibold-font-size);
  line-height: var(--pds-typography-header-12-semibold-line-height);
  letter-spacing: var(--pds-typography-header-12-semibold-letter-spacing);
}

.wds-typography-header-regular-12 {
  font-weight: var(--pds-typography-header-12-regular-font-weight);
  font-size: var(--pds-typography-header-12-regular-font-size);
  line-height: var(--pds-typography-header-12-regular-line-height);
  letter-spacing: var(--pds-typography-header-12-regular-letter-spacing);
}

.wds-typography-header-semibold-11 {
  font-weight: var(--pds-typography-header-11-semibold-font-weight);
  font-size: var(--pds-typography-header-11-semibold-font-size);
  line-height: var(--pds-typography-header-11-semibold-line-height);
  letter-spacing: var(--pds-typography-header-11-semibold-letter-spacing);
}

.wds-typography-body-18 {
  font-weight: var(--pds-typography-body-18-font-weight);
  font-size: var(--pds-typography-body-18-font-size);
  line-height: var(--pds-typography-body-18-line-height);
  letter-spacing: var(--pds-typography-body-18-letter-spacing);
}

.wds-typography-body-16 {
  font-weight: var(--pds-typography-body-16-font-weight);
  font-size: var(--pds-typography-body-16-font-size);
  line-height: var(--pds-typography-body-16-line-height);
  letter-spacing: var(--pds-typography-body-16-letter-spacing);
}

.wds-typography-body-14 {
  font-weight: var(--pds-typography-body-14-font-weight);
  font-size: var(--pds-typography-body-14-font-size);
  line-height: var(--pds-typography-body-14-line-height);
  letter-spacing: var(--pds-typography-body-14-letter-spacing);
}

.wds-typography-body-12 {
  font-weight: var(--pds-typography-body-12-font-weight);
  font-size: var(--pds-typography-body-12-font-size);
  line-height: var(--pds-typography-body-12-line-height);
  letter-spacing: var(--pds-typography-body-12-letter-spacing);
}

.wds-typography-body-11 {
  font-weight: var(--pds-typography-body-11-font-weight);
  font-size: var(--pds-typography-body-11-font-size);
  line-height: var(--pds-typography-body-11-line-height);
  letter-spacing: var(--pds-typography-body-11-letter-spacing);
}

.wds-typography-display-light-240 {
  font-weight: var(--pds-typography-display-240-light-font-weight);
  font-size: var(--pds-typography-display-240-light-font-size);
  line-height: var(--pds-typography-display-240-light-line-height);
  letter-spacing: var(--pds-typography-display-240-light-letter-spacing);
}

.wds-typography-display-light-120 {
  font-weight: var(--pds-typography-display-120-light-font-weight);
  font-size: var(--pds-typography-display-120-light-font-size);
  line-height: var(--pds-typography-display-120-light-line-height);
  letter-spacing: var(--pds-typography-display-120-light-letter-spacing);
}

.wds-typography-display-light-48 {
  font-weight: var(--pds-typography-display-48-light-font-weight);
  font-size: var(--pds-typography-display-48-light-font-size);
  line-height: var(--pds-typography-display-48-light-line-height);
  letter-spacing: var(--pds-typography-display-48-light-letter-spacing);
}

.wds-typography-display-light-36 {
  font-weight: var(--pds-typography-display-36-light-font-weight);
  font-size: var(--pds-typography-display-36-light-font-size);
  line-height: var(--pds-typography-display-36-light-line-height);
  letter-spacing: var(--pds-typography-display-36-light-letter-spacing);
}

.wds-typography-display-light-28 {
  font-weight: var(--pds-typography-display-28-light-font-weight);
  font-size: var(--pds-typography-display-28-light-font-size);
  line-height: var(--pds-typography-display-28-light-line-height);
  letter-spacing: var(--pds-typography-display-28-light-letter-spacing);
}

.wds-typography-label-14 {
  font-weight: var(--pds-typography-label-14-font-weight);
  font-size: var(--pds-typography-label-14-font-size);
  line-height: var(--pds-typography-label-14-line-height);
  letter-spacing: var(--pds-typography-label-14-letter-spacing);
}

.wds-typography-label-12 {
  font-weight: var(--pds-typography-label-12-font-weight);
  font-size: var(--pds-typography-label-12-font-size);
  line-height: var(--pds-typography-label-12-line-height);
  letter-spacing: var(--pds-typography-label-12-letter-spacing);
}

.wds-typography-label-11 {
  font-weight: var(--pds-typography-label-11-font-weight);
  font-size: var(--pds-typography-label-11-font-size);
  line-height: var(--pds-typography-label-11-line-height);
  letter-spacing: var(--pds-typography-label-11-letter-spacing);
}